.form {
	width: 500px;
	border: 0.5px solid #0F2027;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
  }

.upload-input {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.upload-btn-wrapper:hover {
	cursor: pointer;
}
	
